/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;


$page-title-color:	$black;
$headline-color:	#d8d6ae;
$text-color:		#afac79;
$fancy-link-color:	#b0ab32;

$cream:		#f6f6e3;

/** These are the colors for the homepage bucket headers, left to right **/
$tax-preparation:	#afab32;
$tax-planning:		#928d06;
$financial-planning:	#787348;
$money-coaching:	#aeac79;
$problem-resolution:	#918a63;


/** Other theme colors. Sooooo many colors. The colors..... **/
$header-green:		#969101;
$sidebar-background:	rgba(63, 61, 24, .9);
$page-title:		#e9e9c6;
$page-title-background: rgba(150, 145, 1, .8);


$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;

$green:             #7dd667;

$bones-pink:        #f01d4f;
$blue:              #2980b9;

$link-color:        $fancy-link-color;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
