/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

#services-wrap {
	.service {
		width: 20%;
		margin: 0;
		float: left;
	}
}

#content, .philosophy-template #featured, .philosophy-template #why, .philosophy-template #differential, .philosophy-template #our-team, .collaboration-template #tax-prep, .collaboration-template #financial-planning, .collaboration-template #problem-resolution, .collaboration-template #featured {
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
